<launch>

    <!-- 启动仿真环境 -->
    <include file="$(find gazebo_pkg)/launch/race.launch"/>

    <!-- 设置地图的配置文件 -->
    <arg name="map" default="race.yaml" />

    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find race_navigation)/maps/$(arg map)"/>

    <!-- 运行move_base节点 -->
    <include file="$(find race_navigation)/launch/dwa_base.launch"/>

    <!-- 启动AMCL节点 -->
    <include file="$(find race_navigation)/launch/amcl.launch" />

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find race_navigation)/rviz/dwa_nav.rviz"/>

</launch>
