<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find c800_description)/urdf/c800_description.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find c800_description)/urdf.rviz" />
</launch>