<launch>
  <arg name="model" />
  <arg name="gui" default="True" />
  <param name="robot_description" textfile="$(find double_arm_description)/urdf/double_arm.urdf" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find double_arm_description)/default.rviz" />
</launch>
