<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="false" />
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
    -configuration_directory $(find limo_bringup)/param
    -configuration_basename build_map_2d.lua">
        <remap from="horizontal_laser_2d" to="scan" />
    </node>
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find limo_bringup)/rviz/cartographer.rviz" />
</launch>
