<?xml version="1.0"?>
<launch> 
    <!-- ttyTHS1 for NVIDIA nano serial port-->
    <!-- ttyUSB0 for IPC USB serial port -->
    <arg name="port_name" default="ttyTHS1" />
    <arg name="use_mcnamu" default="false" />

    <include file="$(find limo_base)/launch/limo_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="use_mcnamu" default="$(arg use_mcnamu)" />
    </include>

    <include file="$(find ydlidar_ros)/launch/X2L.launch" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" args="0.105 0.0 0.08 0.0 0.0 0.0 /base_link /laser_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /imu_link 10" />
</launch>
